#cmnt-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* max-width: 100%; */
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

#cmnt {
    text-align: left;
    width: 100%;
    padding: 150px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#cmnt:focus {
    box-shadow: 0 0 5px #2c2c2c;
    /* Subtle shadow on focus */
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 16px;
}

#approve-button {
    width: 30%;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #0B6623;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    margin: auto;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

#approve-button:hover {
    box-shadow: 7px 5px 56px -14px #0B6623;
}

#approve-button:active {
    box-shadow: 7px 5px 56px -10px #3F704D;
    background-color: #3F704D;
}

#reject-button {
    width: 30%;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #302c2c;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    margin: auto;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

#reject-button:hover {
    box-shadow: 7px 5px 56px -14px #302c2c;
}

#reject-button:active {
    box-shadow: 7px 5px 56px -10px grey;
    background-color: grey;
}

.appr-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure it appears above other content */
}

.appr-popup-inner {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#popup-close-button {
    width: 30%;
    padding: 3%;
    border-radius: 9px;
    background: #6e6a6a;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    margin: auto;
    color: white;
    font-size: 13px;
}

.rej-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure it appears above other content */
}

.rej-popup-inner {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}